# Dev tools
.sf
.sfdx
.vscode
.localdevserver
node_modules
jsconfig.json
coverage

# Sample objects
**/objects/

# Mac files
**/.DS_Store
**/__MACOSX

/sampleData.js

#### ANT ####

# CCI
.cci
/src.orig
/src

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings